<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <th:block th:replace="~{head}"></th:block>
</head>
<body>
<div th:replace="~{blocks/navbar-admin}"></div>
<div class="container wrapper" style="margin:0px;">
    <div class="row content" style="margin-right: -6%;">
        <div th:replace="~{blocks/sidebar-components}"></div>
        <div class="col-md-10" style="background-color: white;">
            <div class="container-fluid"
                 style="padding:  25px 0px 10px 0px;margin-bottom: 0px;">
                <div class="row">
                    <div class="col-md-5">
                        <a th:href="@{/engine}" type="button" class="btn btn-link">Вернуться к списку двигателей</a>
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="padding: 0px">
                <div class="row">
                    <div class="col-md-12" style="margin-top: 2%;margin-left: 5%;">
                        <div class="container-fluid" style="padding: 0px">
                            <div class="row">
                                <div class="col-md-7">
                                    <h3 style="margin-bottom: 50px;" th:text="${title}"></h3>
                                    <form th:method="POST" th:action="@{/engine/create-new-engine}">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input name="name" required placeholder="Введите название мотора"
                                                           class="form-control" autocomplete="off"/>
                                                    <br><br>
                                                    <select class="form-select" aria-label="Default select example"
                                                            name="driveUnit" required>
                                                        <option selected disabled>Привод колёс</option>
                                                        <option value="Полный привод (AWD)">Полный привод (AWD)</option>
                                                        <option value="Передний привод (FWD)">Передний привод (FWD)
                                                        </option>
                                                        <option value="Задний привод (RWD)">Задний привод (RWD)</option>
                                                    </select>
                                                    <!--                    <input type="number" step="0.01" min="0"  name="accelerate" placeholder="Разгон до 100, Км/ч" class="form-control" required autocomplete="off"/>-->
                                                    <br><br>
                                                    <input type="number" step="0.01" min="0" name="price"
                                                           placeholder="0.00 $" class="form-control" required
                                                           autocomplete="off"/>
                                                </div>
                                                <div class="col-md-6">

                                                    <select class="form-select" aria-label="Default select example"
                                                            name="bodyId" required>
                                                        <option selected disabled>На какой кузов</option>
                                                        <option th:each="body : ${bodyList}" th:text="${body.name}"
                                                                th:value="${body.id}"></option>
                                                    </select>

                                                    <!--                    <input type="number"  name="maxSpeed" placeholder="Максимальная скорость, Км/ч" class="form-control" required autocomplete="off"/>-->
                                                    <br><br>
                                                    <input type="number" name="power"
                                                           placeholder="Мощность двигателя, Л/с" class="form-control"
                                                           required autocomplete="off"/>
                                                    <br><br>
                                                    <input type="number" name="torque"
                                                           placeholder="Крутящий момент, Н/м " class="form-control"
                                                           required autocomplete="off"/>

                                                </div>
                                            </div>
                                        </div>
                                        <a type="button" class="btn btn-secondary" th:href="@{/engine}"
                                           style="margin-top: 40px;">Отмена</a>
                                        <input type="submit" value="Создать двигатель" class="btn btn-success"
                                               style="margin-top: 40px;"/>
                                    </form>
                                </div>
                                <div class="col-md-5" style="margin-left:0px;">
                                    <img th:src="@{/img/engine.jpeg}" class="img-fluid"
                                         style="position: relative; left: 3%;top:-12%;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="~{blocks/footer2}" style="margin-top: 100px;"></div>
        </div>
    </div>
</div>
</body>
</html>