<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все двигатели</title>
    <th:block th:replace="~{head}"></th:block>
</head>
<body>
<div th:replace="~{blocks/navbar-admin}"></div>
<div class="container wrapper" style="margin:0px;">
    <div class="row content" style="margin-right: -6%;">
        <div th:replace="~{blocks/sidebar-components}"></div>
        <div class="col-md-10" style="background-color: white;">
            <div class="container-fluid" style="padding: 0px">
                <div class="row">
                    <div class="col-md-11" style="margin-top: 4%;margin-left: 3%;">
                        <h3>Двигатели для автомобилей Tesla</h3>
                        <h3 th:text="${message}" th:if="${engines.isEmpty()}"></h3>
                        <div class="col-md-12" th:unless="${engines.isEmpty()}">
                            <table class="table table-hover align-middle" style="margin-top: 50px;">
                                <thead>
                                <tr>
                                    <th colspan="2">Название</th>
                                    <th scope="col">Мощность</th>
                                    <th scope="col">Привод</th>
                                    <th scope="col">Цена</th>
                                    <th colspan="2" class="text-end"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="engine, iter : ${engines}">
                                    <td th:text="${iter.count}"></td>
                                    <td th:text="${engine.name}"></td>
                                    <td th:text="${engine.power}+' л/с'"></td>
                                    <td th:text="${engine.driveUnit}"></td>
                                    <td th:text="${#numbers.formatDecimal(engine.price, 0, 'COMMA', 0, 'POINT')}+' $'"></td>
                                    <td class="text-end">
                                        <div class="btn-group" role="group">
                                            <button id="btnGroupDrop1" type="button"
                                                    class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                Действия
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                <li><a th:href="${'/engine/show-details='+engine.id}"
                                                       class="dropdown-item">Подробнее</a></li>
                                                <li><a class="dropdown-item"
                                                       th:href="@{/engine/update-engine={id}(id=${engine.getId()})}">Редактировать
                                                    &#x270E; </a></li>
                                            </ul>
                                        </div>
                                        <button type="button" data-bs-toggle="modal"
                                                th:data-bs-target="${'#del'+engine.id}" class="btn-close"
                                                style="margin-left: 15px;">
                                        </button>
                                    </td>
                                    <!--                         Modal-->
                                    <div class="modal fade" th:id="${'del'+engine.id}" tabindex="-1"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Внимание</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Вы действительно хотите удалить</p>
                                                    <h5>Двигатель <span th:text="${engine.name}"></span>:</h5>
                                                    <p>Мощность: <span th:text="${engine.power}+' л/с'"></span></p>
                                                    <p th:text="${engine.driveUnit}"></p>
                                                    <br>
                                                    <p>Данные будут полность потеряны без возможности их
                                                        восстановления.</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Отмена
                                                    </button>
                                                    <form th:action="'engine/delete-engine=' + ${engine.id}"
                                                          method="post">
                                                        <button type="submit" class="btn btn-danger">Удалить</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="~{blocks/footer2}" style="margin-top: 150px;"></div>
        </div>
    </div>
</div>
</body>
</html>
