<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <th:block th:replace="~{head}"></th:block>
</head>
<body>
<div th:replace="~{blocks/navbar-admin}"></div>
<div class="container wrapper" style="margin:0px;">
    <div class="row content" style="margin-right: -6%;">
        <div th:replace="~{blocks/sidebar-components}"></div>
        <div class="col-md-10" style="background-color: white;">
            <div class="container-fluid"
                 style="padding:  25px 0px 10px 0px;margin-bottom: 0px;">
                <div class="row">
                    <div class="col-md-2" style="text-align: right;">
                        <a th:href="@{/engine}" type="button" class="btn btn-secondary">Вернуться назад</a>
                    </div>
                    <div class="col-md-10">
                        <p style="margin-top: 7px;color: #646464;" th:text="${title}"></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="padding: 0px">
                <div class="row">
                    <div class="col-md-12" style="margin-top: 2%;margin-left: 5%;">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12" style="margin-bottom: 100px;">
                                    <div class="row">
                                        <div class="col-md-3" style="margin-right: 25px;">
                                            <p>Название двигателя:</p>
                                            <h2 th:text="${engine.name}"></h2>
                                            <p style="margin-top: 30px;">Цена продажи:</p>
                                            <h2 th:text="${#numbers.formatDecimal(engine.price, 0, 'COMMA', 0, 'POINT')}+' $'"
                                                style="margin-bottom: 30px;"></h2>

                                            <a type="button" class="btn btn-primary"
                                               th:href="${'/engine/update-engine='+engine.id}">Редактировать</a>
                                            <br>
                                            <button type="button" data-bs-toggle="modal"
                                                    th:data-bs-target="${'#del'+engine.id}"
                                                    class="btn btn-link" style="margin-top: 15px;">Удалить двигатель
                                            </button>

                                        </div>
                                        <div class="col-md-6">
                                            <table class="table" style="margin-bottom: 50px;">
                                                <thead>
                                                <tr>
                                                    <th colspan="2">Характеристики</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>Название</td>
                                                    <td th:text="${engine.name}" class="text-end"></td>
                                                </tr>
                                                <tr>
                                                    <td>Привод</td>
                                                    <td th:text="${engine.driveUnit}" class="text-end"></td>
                                                </tr>
                                                <tr>
                                                    <td>Мощность</td>
                                                    <td th:text="${engine.power}+' л/с'" class="text-end"></td>
                                                </tr>
                                                <tr>
                                                    <td>Крутящий момент</td>
                                                    <td th:text="${engine.torque}+' Н/м'" class="text-end"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <!-- Modal -->
                                            <div class="modal fade" th:id="${'del'+engine.id}" tabindex="-1"
                                                 aria-labelledby="exampleModal"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Внимание</h5>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Вы действительно хотите удалить</p>
                                                            <h5>Двигатель <span th:text="${engine.name}"></span>:</h5>
                                                            <p>Мощность: <span th:text="${engine.power}+' л/с'"></span>
                                                            </p>
                                                            <p th:text="${engine.driveUnit}"></p>
                                                            <br>
                                                            <p>Данные будут полность потеряны без возможности их
                                                                восстановления.</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Отмена
                                                            </button>
                                                            <form th:action="'delete-engine=' + ${engine.id}"
                                                                  method="post">
                                                                <button type="submit" class="btn btn-danger">Удалить
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--конец модального-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="~{blocks/footer2}" style="margin-top: 150px;"></div>
        </div>
    </div>
</div>
</body>
</html>