<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <th:block th:replace="~{head}"></th:block>
</head>
<body>
<div th:replace="~{blocks/navbar-admin}"></div>
<div class="container wrapper" style="margin:0px;">
    <div class="row content" style="margin-right: -6%;">
        <div th:replace="~{blocks/sidebar-components}"></div>
        <div class="col-md-10" style="background-color: white;">
            <div class="container-fluid"
                 style="padding:  25px 0px 10px 0px;margin-bottom: 0px;">
                <div class="row">
                    <div class="col-md-2" style="text-align: right;">
                        <a th:href="@{/engine}" type="button" class="btn btn-secondary">Вернуться назад</a>
                    </div>
                    <div class="col-md-10">
                        <p style="margin-top: 7px;color: #646464;" th:text="${title}"></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="padding: 0px">
                <div class="row">
                    <div class="col-md-12" style="margin-top: 2%;margin-left: 5%;">
                        <h3 th:text="${title}" style="margin-bottom: 40px;"></h3>
                        <form method="post">
                            <input type="hidden" th:value="${engine.id}" name="id"/>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-3" style="margin-right: 25px;">
                                        <h5>Название двигателя:</h5>
                                        <input name="name" th:value="${engine.name}" required class="form-control"/>
                                        <br><br>
                                        <h5>Мощность, л/с: </h5>
                                        <input type="number" min="0" name="power" th:value="${engine.power}" required
                                               class="form-control">

                                        <br><br>
                                        <h5>Сохранить изменения </h5>
                                        <a type="button" class="btn btn-secondary" th:href="@{/engine}">Отмена</a>
                                        <input type="submit" value="Сохранить" class="btn btn-success"/>

                                    </div>
                                    <div class="col-md-3" style="margin-right: 25px;">
                                        <h5>Привод:</h5>
                                        <select name="driveUnit" class="form-select" aria-label="Default select example"
                                                required>
                                            <option selected th:text="${engine.driveUnit}"
                                                    th:value="${engine.driveUnit}"></option>
                                            <option value="Полный привод (AWD)">Полный привод (AWD)</option>
                                            <option value="Передний привод (FWD)">Передний привод (FWD)</option>
                                            <option value="Задний привод (RWD)">Задний привод (RWD)</option>
                                        </select>
                                        <br><br>
                                        <h5>Крутящий момент, Н/м: </h5>
                                        <input type="number" min="0" name="torque" th:value="${engine.torque}"
                                               class="form-control" required>
                                    </div>
                                    <div class="col-md-3" style="margin-right: 25px;">
                                        <h5>Цена:</h5>
                                        <input type="number" step="0.0" min="0" name="price" th:value="${engine.price}"
                                               required class="form-control">
                                        <br><br> <h5>Кузов:</h5>
                                        <select class="form-select" aria-label="Default select example" name="bodyId">

                                            <option selected th:value="${engine.body.id}"
                                                    th:text="${engine.body.name}"></option>

                                            <option th:each="body : ${bodyList}" th:value="${body.id}"
                                                    th:text="${body.name}"></option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div th:insert="~{blocks/footer2}" style="margin-top: 100px;"></div>
        </div>
    </div>
</div>
</body>
</html>